<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DatabaseServerName" value="BAM-SYS-SQL" />
		<add key="DownloadsPath" value="C:\Users\autoedi\Downloads" />
		<add key="EdgeDriverPath" value="C:\Program Files\OrdersScraper\BAMOrdersScraper" />
		<add key="PublishPath" value="C:\Program Files\OrdersScraper\BAMOrdersScraper\publish"/>

		<!--<add key="DatabaseServerName" value="localhost" />
		<add key="DownloadsPath" value="C:\Users\leona\Downloads\" />
		<add key="EdgeDriverPath" value="C:\Users\leona\source\repos\BA.OrderScraper\BA.OrderScraper\bin\Debug" />
		<add key="PublishPath" value="C:\Users\leona\source\repos\BA.OrderScraper\BA.OrderScraper\bin\Debug\net8.0"/>-->

		<add key="DatabaseName" value="BAOrders" />
		<add key="retryCount" value="99"/>
		<add key="ArchiveHistoryToKeepInDays" value="90" />
		<add key="ToyotaPortalLoginUsername" value="Rcanham" />
		<add key="ToyotaPortalLoginPassword" value="C$qu@redT3ch" />
		<add key="ToyotaPortalUrl" value="https://supplierportal.e-toyota.co.za/" />

		<add key="SysproAvantiPortalUrl" value="http://192.168.1.8/SYSPROAvanti/"/>
		<add key="SysproAvantiPortalUsername" value="ADMIN"/>
		<add key="SysproAvantiPortalPassword" value="2319"/>

	</appSettings>
</configuration>