<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DatabaseServerName" value="BAM-SYS-SQL" />
		<add key="SysproDatabaseServerName" value="BAM-SYS-SQL" />
		<add key="DownloadsPath" value="C:\Users\autoedi\Downloads" />
		<add key="EdgeDriverPath" value="C:\Program Files\OrdersScraper\BAMOrdersScraper" />
		
		<!--<add key="PublishPath" value="C:\Program Files\OrdersScraper\BAMOrdersScraper\prod\publish"/>--><!--PROD-->
		<add key="PublishPath" value="C:\Program Files\OrdersScraper\BAMOrdersScraper\dev\publish"/><!--DEV-->

		<!--<add key="DatabaseServerName" value="localhost" />
		<add key="SysproDatabaseServerName" value="localhost" />
		<add key="DownloadsPath" value="C:\Users\leona\Downloads\" />
		<add key="EdgeDriverPath" value="C:\Users\leona\source\repos\BA.OrderScraper\BA.OrderScraper\bin\Debug" />
		<add key="PublishPath" value="C:\Users\leona\source\repos\BA.OrderScraper\BA.OrderScraper\bin\Debug\net8.0"/>-->

		<add key="Env" value="dev"/><!--Must correspond to the folder names where the app is deployed, i.e dev or prod-->
		<add key="DatabaseName" value="BAOrders_QA" /><!--PROD-->
		<!--<add key="DatabaseName" value="BAOrders_QA" />--><!--DEV-->
		
		<!--<add key="SysproDatabaseName" value="SysproCompany1" />--><!--DEV-->
		<add key="SysproDatabaseName" value="SysproCompany1" /><!--PROD-->
		
		<add key="retryCount" value="999"/>
		<add key="ArchiveHistoryToKeepInDays" value="90" />
		<add key="ToyotaPortalLoginUsername" value="Rcanham" />
		<add key="ToyotaPortalLoginPassword" value="Br@c3Ab1e@" />
		<add key="ToyotaPortalUrl" value="https://supplierportal.e-toyota.co.za/" />

		<add key="SysproAvantiPortalUrl" value="http://192.168.1.8/SYSPROAvanti/"/>
		
		<add key="SysproAvantiPortalUsername" value="ADMIN"/>
		<add key="SysproAvantiPortalPassword" value="2319"/><!--DEV-->

		<!--<add key="SysproAvantiPortalUsername" value="Simnikiwen"/>
		<add key="SysproAvantiPortalPassword" value="Sim@"/>--><!--PROD-->

		<add key="SysproAvantiPortalCompany" value="1 - BRACE ABLE"/><!--DEV-->
		<!--<add key="SysproAvantiPortalCompany" value="A - BRACE ABLE"/>--><!--PROD-->
		
		<!--<add key="SysproAvantiPortalCompanyPassword" value="LIVE2021"/>--><!--PROD-->
		<add key="SysproAvantiPortalCompanyPassword" value=""/><!--DEV-->
		<!--LEAVE BLANK IF THERE IS NO PASSWORD TO USE-->

		<!-- Syspro API Configuration -->
		<add key="SysproApiBaseUrl" value="http://192.168.1.8:8080/SysproWCFService" />
		<add key="SysproApiUsername" value="ADMIN" />
		<add key="SysproApiPassword" value="2319" />
		<add key="SysproCompanyDatabase" value="1" />
		<add key="SysproApiTimeout" value="30" />
		
		<!-- Alternative API endpoints for different Syspro integration methods -->
		<add key="SysproBusinessObjectsUrl" value="http://192.168.1.8:8080/SysproBusinessObjects" />
		<add key="SysproRestApiUrl" value="http://192.168.1.8:8080/SysproRestAPI" />
		<add key="SysproWebServiceUrl" value="http://192.168.1.8:8080/SysproWebService.asmx" />

	</appSettings>
</configuration>